<mat-list>
  <mat-list-item routerLink="/profile">
    <img mat-list-avatar src="{{ user.avatar }}" alt="{{ user.username }}">
    <div mat-line>
      {{ user.username }}
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>people_alt</mat-icon>
    <div mat-line>
      Amis
    </div>
    <div mat-line></div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>groups</mat-icon>
    <div mat-line>
      Groupes
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>storefront</mat-icon>
    <div mat-line>
      Marketplace
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>ondemand_video</mat-icon>
    <div mat-line>
      Watch
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>history</mat-icon>
    <div mat-line>
      Souvenirs
    </div>
    <div mat-line>
      6 nouvelles vidéos
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>bookmark</mat-icon>
    <div mat-line>
      Enregistrements
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>flag</mat-icon>
    <div mat-line>
      Pages
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>event_available</mat-icon>
    <div mat-line>
      Évènements
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>work</mat-icon>
    <div mat-line>
      Offres d'emploi
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>expand_more</mat-icon>
    <div mat-line>
      Voir plus
    </div>
  </mat-list-item>
</mat-list>
