<section id="story-line">
  <div class="story_wrapper"  fxLayout="row">
    <div id="add_story" [routerLink]="['/stories/create']">
      <img mat-list-avatar src="https://loremflickr.com/320/240/dog" alt="">
      <mat-icon>add</mat-icon>
      <div class="text">Créer votre story</div>
    </div>
    <div class="story_item">
      <img mat-list-avatar src="https://loremflickr.com/320/240/dog" alt="">
      <img class="story_bg" src="https://loremflickr.com/320/240/dog" alt="">
    </div>
    <div class="story_item">
      <img mat-list-avatar src="https://loremflickr.com/320/240/dog" alt="">
      <img class="story_bg" src="https://loremflickr.com/320/240/dog" alt="">
    </div>
    <div class="story_item">
      <img mat-list-avatar src="https://loremflickr.com/320/240/dog" alt="">
      <img class="story_bg"  src="https://loremflickr.com/320/240/dog" alt="">
    </div>
    <div class="story_item">
      <img mat-list-avatar src="https://loremflickr.com/320/240/dog" alt="">
      <img class="story_bg" src="https://loremflickr.com/320/240/dog" alt="">
    </div>
  </div>
  <button id="goToStories" >
    <mat-icon>arrow_forward</mat-icon>
  </button>

</section>
