<!-- -->

<main>
  <div
    class="card input-container"
  >
    <h2>Search for crises</h2>
    <!--
      2-WAY DATA BINDING: [(ngModel)]="crisis.name"
      combine property and event binding in a single notation.
      Here we use  two-way data binding with the ngModel directive.
      In two-way binding, a data property value flows to the input box from the component as with property binding. The user's changes also flow back to the component, resetting the property to the latest value, as with event binding.

    <input type="text"  id="crisis-name" [(ngModel)]="crisis.name"/>
    -->

    <!-- ATTRIBUTE DIRECTIVES:
       Alter the appearance or behavior of an existing element.
       The ngModel directive, which implements two-way data binding, is an example of an attribute directive.
       "ngModel" modifies the behavior of an existing element (typically <input>) by setting its display value property and responding to change events.

    <input type="text" id="hero-power" [(ngModel)]="hero.power" #ctrl="ngModel">
    -->

  </div>

  <div
    *ngIf="crisis$ | async as crisis"
  >
    <h3>{{ crisis.name }}</h3>
    <p>
      ID: {{ crisis.id }}
    </p>
    <div>
      <label for="crisis-name">Crisis name: </label>
      <input
        type="text"
        id="crisis-name"
        [(ngModel)]="crisis.name"
      />
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="goToCrises(crisis)"
    >
      Back
    </button>
  </div>
</main>

